.skills{
    background-color: rgb(81, 5, 83);
    width: 250px;
    height: 390px;
    margin: 20px 0;
    border-radius: 5px;
}
.skills img {
    background-color: rgb(240, 255, 244);
    width: 250px;
    height: 250px;
    border-radius: 5px 5px 0 0;
    background-color: rgb(220, 228, 190);
}
@media only screen and (max-width: 600px) {
    .skills{
        width: 100%;
        height: 100%;
    }
    .skills img {
        width: 100%;
        height: 100%;
    }
}