.flex{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: blanchedalmond;
    margin: 0;
}
.flex div{
    margin: 2px 20px;
}
.flex, div a{
    text-decoration: none;
    color: blanchedalmond;
    align-items: center;
    padding: 0 20px;
}
@media only screen and (max-width: 600px) {
    .flex{
        display: block;
        
    }
    .flex, div a{
        display: block;
    }
}